html{
    scroll-behavior: smooth;    
    overflow-x: hidden;
}

body, html{
    margin: 0px;
    padding: 0px;
    height: auto;
}

#welcomeDivText{
    background-color: #C1292E;
}

#welcomeText{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ECECE9;
    background-color: #333232;
    border: solid 2px #ECECE9;
    padding: 25px;
}

.fadeIn { 
    -webkit-animation: fadeIn 5s;
    animation: fadeIn 3s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  #buttonDiv{
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 58%;
    left: 50%;
}

#howToPlayDiv{
    position: absolute;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    top:  46%;
    left: 50%;
    color:#333232;
    width: 100px;
    height: 20px;
}

#howToPlay{
    color: #ECECE9;
    background-color: #333232;
    border: none;    
    border: 2px #ECECE9 solid;
    padding: 4px;
    

}

.stats {
    text-align: center;
    color: #ECECE9;
    width: 180px;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

#statsTextWin,
#statsTextLoss {
    display: inline-block;
    margin: 0 5px;
}



#generateButton{
    background-color: #007991;
    padding: 20px;
    border: solid 2px #ECECE9;
    color: #ECECE9;
    background-color: #333232;
    font-size: 18px;
}

#generateButton:hover, #welcomeText:hover, .slots:hover, #restartButton:hover, #howToPlay:hover{
    border: solid 2px #C1292E;
    transition: .4s ease-in-out;
}

.text, #generateButton, #numberPlaceholder, #restartButton, #statsTextWin, #statsTextLoss, #howToPlay, .slotsNum{
    font-family: Verdana, Geneva, sans-serif;
}

#restartButton{
    color:#ECECE9;
    padding: 10px;
    background-color: #333232;
    margin-bottom: 20px;
    border: 2px #ECECE9 solid;


}

#welcomeDiv{
    background-image: url(images/backgroundImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 662px;
}


.slots{
    width: 70px;
    height: 36px;
    border: solid 2px #333232;
    background-color: #ECECE9;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

button:disabled{
    color:#525151;
    }

.slotsNum{
    display: inline-block;
    width: 50px;
    padding: 0 10px 0 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ECECE9;

}


#inputBoxes{
    display: inline-block;
    width: 100%;
    position: absolute;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    top:  80%;
    left: 50%;
    

}

#numberPlaceholderDiv{
    text-align: center;

}

#numberPlaceholder{
    font-size: 20px;
    color: #ECECE9;

}



