html{
    scroll-behavior: smooth;    
    overflow-x: hidden;
}

body, html{
    margin: 0px;
    padding: 0px;
    height:auto;
}

#welcomeDivText{
    background-color: #C1292E;
}

#welcomeText{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ECECE9;
    background-color: #333232;
    border: solid 2px #ECECE9;
    padding: 25px;
}

.fadeIn { 
    -webkit-animation: fadeIn 5s;
    animation: fadeIn 3s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  #buttonDiv{
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
}

#howToPlayDiv{
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 49%;
    left: 50%;
    background-color: #333232;
    padding: 0 20px 0 20px;
    border: solid 2px #ECECE9;
    color:#ECECE9;

}

.stats{
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 6%;
    background-color: #333232;
    color:#ECECE9;
    padding: 0 20px 0 20px;
    border: solid 2px #ECECE9;
    width: 80px;
}


#generateButton{
    background-color: #007991;
    padding: 20px;
    border: solid 2px #ECECE9;
    color: #ECECE9;
    background-color: #333232;
    font-size: 18px;
}

#generateButton:hover, #welcomeText:hover, .slots:hover, #restartButton:hover{
    border: solid 2px #C1292E;
    transition: .4s ease-in-out;
}

.text, #generateButton, #numberPlaceholder, #restartButton, #statsTextWin, #statsTextLoss, #howToPlay{
    font-family: Verdana, Geneva, sans-serif;
}

#restartButton{
    border: solid 2px #ECECE9;
    color:#ECECE9;
    padding: 10px;
    background-color: #333232;
    margin-bottom: 10px;

}

#welcomeDiv{
    background-image: url(images/backgroundImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    border-bottom: solid 5px #C1292E;
    margin-bottom: 10px;
}


/* BOXEs */
#inputBoxes{
    display: inline-block;
    justify-content: center;
}


.slots{
    width: 70px;
    border: solid 2px #333232;
    background-color: #ECECE9;
    padding:10px;
    margin-left: 10px;
    margin-right: 10px;

}


#inputBoxes{
    width: 100%;
    text-align: center;
    

}

#numberPlaceholderDiv{
    text-align: center;
    padding: 10px;


}

#numberPlaceholder{
    font-size: 20px;

}

.playDiv{
justify-content: center;
}



